In [1]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [33]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [34]:
df = df[[ 'Id','MSZoning', 'LotFrontage', 'LotArea', 'Street',
        'LotShape', 'LandContour',  'LotConfig',
        'Neighborhood', 
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearRemodAdd',
        'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice']]

In [7]:
df.head()

,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,LotConfig,Neighborhood,HouseStyle,OverallQual,OverallCond,YearRemodAdd,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,RL,65.0,8450,Pave,Reg,Lvl,Inside,CollgCr,2Story,7,5,2003,2,2008,WD,Normal,208500
1,RL,80.0,9600,Pave,Reg,Lvl,FR2,Veenker,1Story,6,8,1976,5,2007,WD,Normal,181500
2,RL,68.0,11250,Pave,IR1,Lvl,Inside,CollgCr,2Story,7,5,2002,9,2008,WD,Normal,223500
3,RL,60.0,9550,Pave,IR1,Lvl,Corner,Crawfor,2Story,7,5,1970,2,2006,WD,Abnorml,140000
4,RL,84.0,14260,Pave,IR1,Lvl,FR2,NoRidge,2Story,8,5,2000,12,2008,WD,Normal,250000

In [35]:
df2 = pd.read_csv('test.csv')

In [36]:
df2 = df2[[ 'Id','MSZoning', 'LotFrontage', 'LotArea', 'Street',
        'LotShape', 'LandContour',  'LotConfig',
        'Neighborhood', 
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearRemodAdd',
        'MoSold', 'YrSold', 'SaleType',
       'SaleCondition']]

In [13]:
df.head()

NameError: name 'df1' is not defined

In [11]:
import matplotlib as mpl

In [37]:
totaldata = pd.concat([df,df2], axis=0)

In [38]:
totaldata.head()

,Id,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,LotConfig,Neighborhood,HouseStyle,OverallQual,OverallCond,YearRemodAdd,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,RL,65.0,8450,Pave,Reg,Lvl,Inside,CollgCr,2Story,7,5,2003,2,2008,WD,Normal,208500.0
1,2,RL,80.0,9600,Pave,Reg,Lvl,FR2,Veenker,1Story,6,8,1976,5,2007,WD,Normal,181500.0
2,3,RL,68.0,11250,Pave,IR1,Lvl,Inside,CollgCr,2Story,7,5,2002,9,2008,WD,Normal,223500.0
3,4,RL,60.0,9550,Pave,IR1,Lvl,Corner,Crawfor,2Story,7,5,1970,2,2006,WD,Abnorml,140000.0
4,5,RL,84.0,14260,Pave,IR1,Lvl,FR2,NoRidge,2Story,8,5,2000,12,2008,WD,Normal,250000.0

In [25]:
totaldata.MSZoning.unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH', nan], dtype=object)

In [45]:
print(totaldata['MSZoning'].isna().sum())
print(totaldata['LotFrontage'].isna().sum())
print(totaldata['LotArea'].isna().sum())
print(totaldata['Street'].isna().sum())
print(totaldata['LotShape'].isna().sum())
print(totaldata['LandContour'].isna().sum())
print(totaldata['LotConfig'].isna().sum())
print(totaldata['Neighborhood'].isna().sum())
print(totaldata['HouseStyle'].isna().sum())
print(totaldata['OverallQual'].isna().sum())
print(totaldata['OverallCond'].isna().sum())
print(totaldata['YearRemodAdd'].isna().sum())
print(totaldata['MoSold'].isna().sum())
print(totaldata['YrSold'].isna().sum())
print(totaldata['SaleType'].isna().sum())
print(totaldata['SaleCondition'].isna().sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [42]:
totaldata = totaldata.dropna(subset=['MSZoning','SaleType'])

In [43]:
totaldata.head()

,Id,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,LotConfig,Neighborhood,HouseStyle,OverallQual,OverallCond,YearRemodAdd,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,RL,65.0,8450,Pave,Reg,Lvl,Inside,CollgCr,2Story,7,5,2003,2,2008,WD,Normal,208500.0
1,2,RL,80.0,9600,Pave,Reg,Lvl,FR2,Veenker,1Story,6,8,1976,5,2007,WD,Normal,181500.0
2,3,RL,68.0,11250,Pave,IR1,Lvl,Inside,CollgCr,2Story,7,5,2002,9,2008,WD,Normal,223500.0
3,4,RL,60.0,9550,Pave,IR1,Lvl,Corner,Crawfor,2Story,7,5,1970,2,2006,WD,Abnorml,140000.0
4,5,RL,84.0,14260,Pave,IR1,Lvl,FR2,NoRidge,2Story,8,5,2000,12,2008,WD,Normal,250000.0

In [44]:
mean_value = totaldata['LotFrontage'].mean()
totaldata['LotFrontage'].fillna(mean_value, inplace=True)

In [49]:
totaldata.HouseStyle.unique()

array(['2Story', '1Story', '1.5Fin', '1.5Unf', 'SFoyer', 'SLvl', '2.5Unf',
       '2.5Fin'], dtype=object)

In [50]:
totaldata.HouseStyle.value_counts()

1Story    1467
2Story     872
1.5Fin     314
SLvl       128
SFoyer      83
2.5Unf      23
1.5Unf      19
2.5Fin       8
Name: HouseStyle, dtype: int64

In [51]:
def replace_titles(x):
    title=x['HouseStyle']
    if title in ['1Story']:
        return 1
    elif title in ['2Story']:
        return 2
    elif title in ['1.5Fin']:
        return 1.75
    elif title in ['SLvl','SFoyer']:
        return 1.5 
    elif title in ['2.5Fin']:
        return 2.75
    elif title in ['2.5Unf']:
        return 2.5
    elif title in ['1.5Unf']:
        return 1.5
    else:
        return title
totaldata['HouseStyleint']=totaldata.apply(replace_titles, axis=1)

In [52]:
totaldata.head()

,Id,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,LotConfig,Neighborhood,HouseStyle,OverallQual,OverallCond,YearRemodAdd,MoSold,YrSold,SaleType,SaleCondition,SalePrice,HouseStyleint
0,1,RL,65.0,8450,Pave,Reg,Lvl,Inside,CollgCr,2Story,7,5,2003,2,2008,WD,Normal,208500.0,2.0
1,2,RL,80.0,9600,Pave,Reg,Lvl,FR2,Veenker,1Story,6,8,1976,5,2007,WD,Normal,181500.0,1.0
2,3,RL,68.0,11250,Pave,IR1,Lvl,Inside,CollgCr,2Story,7,5,2002,9,2008,WD,Normal,223500.0,2.0
3,4,RL,60.0,9550,Pave,IR1,Lvl,Corner,Crawfor,2Story,7,5,1970,2,2006,WD,Abnorml,140000.0,2.0
4,5,RL,84.0,14260,Pave,IR1,Lvl,FR2,NoRidge,2Story,8,5,2000,12,2008,WD,Normal,250000.0,2.0

In [55]:
totaldata = totaldata.drop(['HouseStyle'],axis=1)

In [56]:
totaldata.head()

,Id,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,LotConfig,Neighborhood,OverallQual,OverallCond,YearRemodAdd,MoSold,YrSold,SaleType,SaleCondition,SalePrice,HouseStyleint
0,1,RL,65.0,8450,Pave,Reg,Lvl,Inside,CollgCr,7,5,2003,2,2008,WD,Normal,208500.0,2.0
1,2,RL,80.0,9600,Pave,Reg,Lvl,FR2,Veenker,6,8,1976,5,2007,WD,Normal,181500.0,1.0
2,3,RL,68.0,11250,Pave,IR1,Lvl,Inside,CollgCr,7,5,2002,9,2008,WD,Normal,223500.0,2.0
3,4,RL,60.0,9550,Pave,IR1,Lvl,Corner,Crawfor,7,5,1970,2,2006,WD,Abnorml,140000.0,2.0
4,5,RL,84.0,14260,Pave,IR1,Lvl,FR2,NoRidge,8,5,2000,12,2008,WD,Normal,250000.0,2.0

In [58]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
le.fit(totaldata['MSZoning'])


totaldata['MSZoning'] = le.transform(totaldata['MSZoning'])

le.fit(totaldata['Street'])

totaldata['Street'] = le.transform(totaldata['Street'])

In [60]:
le.fit(totaldata['LotShape'])
totaldata['LotShape'] = le.transform(totaldata['LotShape'])

le.fit(totaldata['LandContour'])
totaldata['LandContour'] = le.transform(totaldata['LandContour'])


le.fit(totaldata['LotConfig'])
totaldata['LotConfig'] = le.transform(totaldata['LotConfig'])


le.fit(totaldata['Neighborhood'])
totaldata['Neighborhood'] = le.transform(totaldata['Neighborhood'])

le.fit(totaldata['SaleType'])
totaldata['SaleType'] = le.transform(totaldata['SaleType'])

le.fit(totaldata['SaleCondition'])
totaldata['SaleCondition'] = le.transform(totaldata['SaleCondition'])

In [61]:
totaldata.head()

,Id,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,LotConfig,Neighborhood,OverallQual,OverallCond,YearRemodAdd,MoSold,YrSold,SaleType,SaleCondition,SalePrice,HouseStyleint
0,1,3,65.0,8450,1,3,3,4,5,7,5,2003,2,2008,8,4,208500.0,2.0
1,2,3,80.0,9600,1,3,3,2,24,6,8,1976,5,2007,8,4,181500.0,1.0
2,3,3,68.0,11250,1,0,3,4,5,7,5,2002,9,2008,8,4,223500.0,2.0
3,4,3,60.0,9550,1,0,3,0,6,7,5,1970,2,2006,8,0,140000.0,2.0
4,5,3,84.0,14260,1,0,3,2,15,8,5,2000,12,2008,8,4,250000.0,2.0

In [62]:
totaldata.to_csv('clean.csv')